/* =============================
    GENERAL STYLES
=============================*/
* {
  box-sizing: border-box;
}

h1,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
img, header {
  margin-bottom: 1rem;
}

body {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') no-repeat center center fixed;
  background-size: cover;
  color: #444349;
  text-align: center;
  font-size: 1.125rem;
  line-height: 3rem;
}

p, li{
  font-family: 'Muli', sans-serif;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  padding: 1.5rem;
}

h3, .gifts p, .contact p{
  font-family: 'Libre Baskerville', serif;
}

.program p {
  font-style: italic
}


.info, .program, .gifts, .faq, .contact {
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}

a {
  color: #bd806e;
  text-decoration: none;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}

/* =============================
    HEADER STYLES
=============================*/

.cover {
  background: url(Assets/wedding-landing-cover.jpg) no-repeat 70% center/cover;
  background-size: cover;
  height: 100vh;
  display: table;
  width: 100vw;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.header-text {
  background: hsla(100,0%,0%,.6);
  color: #fff;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.header-text p {
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
  font-family: 'Libre Baskerville', serif;
}

.header-text h1 {
  font-size: 3.15rem;
  color: #d2ba87;
  font-family: 'Great Vibes', cursive;
  margin: 1.5rem auto;
  padding: 1.5rem 1rem;
}

.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12rem;
  margin: .8rem auto;
}

.date::before, .date::after{
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0.5rem;
}

/* =============================
      LOCATIONS STYLES
=============================*/

.info h3 {
  font-size: 1.6rem;
  font-weight: 900;
}

.ceremony::after, .photos::after, .party::after {
  display: block;
  content: "";
  background-color: #444349;
  height: 3px;
  width: 25vw;
  align-content: center;
  margin: 1.25rem auto;
}

.info p {
  font-size: 1.1rem;
  /*letter-spacing: 0.02rem;*/
  line-height: 1.8rem;
}

.info img {
  height: 7.5rem;
  margin-top: 1rem;
}

/* =============================
        PROGRAM STYLES
=============================*/

.program {
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
  width: 100vw;
  padding: 1.5rem;
}

ul, .program p {
  padding-bottom: 0.5rem;
  letter-spacing: .025rem;
  text-align: left;
  margin: 0 auto;
  line-height: 1.8rem;
}

/* =============================
        GIFTS STYLES
=============================*/

.gifts img {
  height: 7.5rem;
}

/*
.gifts p:last-child {   /* To even out the bottom and top margins of this section. 
  margin-bottom: 0;
}*/

/* =============================
        FAQ STYLES
=============================*/

.faq {
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
  width: 100vw;
}

.question {
  font-weight: 900;
}

.answer {
  margin-bottom: 1.5rem;
}

.faq p {
  text-align: left;
}

.faq h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.question-group {
  padding: 0 1rem;
}

.question-group::after {
  display: block;
  content: "";
  background-color: #d2ba87;
  height: 2px;
  width: 25vw;
  align-content: center;
  margin: 1.5rem auto;
}

/* =============================
        FOOTER STYLES
=============================*/

.main-wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #606060;
  color: #fff;
  font-size: 1rem; 
  display: table;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}

footer p:last-child {   
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .tagline {
    text-transform: uppercase;
  }
  
  .header-text h1 { 
    font-size: 7rem;
  }
  
  .header-text {
    width: 55%;
    margin: 0 auto;
  }
  
  .cover {
  background: url(Assets/wedding-landing-cover.jpg) no-repeat center;
  background-size: cover;
  }
  
  .ceremony, .photos, .party {
    display: inline-block;
    width: 30%;
    margin-top: 1rem;
  }
  
  .ceremony::after, .photos::after, .party::after {
    display: none;
  }
  
  .program-wrapper {
    display: table;
    margin: 0 auto;
  }
  
   .question-group {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-top: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
  }
  
  .question-group::after {
    display: none;
    top: 0;
  }
  
  .question-group h3{
    margin-bottom: 2rem;
  }
  
  footer {
    min-height: 7vh;
  }
}
  
  
